@model ManageExport_V2.Models.Entity.User

@{
    ViewData["Title"] = "Delete Subsidiary Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string hostName = $"{Model.FirstName} {Model.LastName}";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Subsidiary Agent Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Total Export Product
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubsidiaryTotalProduct)
        </dd>
        <dt class="col-sm-2">
            Expire Contract Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpireContractDate)
        </dd>
        <dt class="col-sm-2">
            Host Name
        </dt>
        <dd class="col-sm-10">
            @hostName
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (string.IsNullOrEmpty(Model.Avatar))
            {
                <img src="~/images/People/images96.jpg" style="height:300px;width:auto;" alt="Alternate Text" />

            }
            else
            {
                <img src="~/images/People/@Model.Avatar" style="height:300px;width:auto;" alt="@hostName" />
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Modified Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
