@model IEnumerable<ManageExport_V2.Models.Entity.Product>
@using ManageExport_V2.Models.Entity;
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string SAID = ViewBag.SAID;
    var SAName = ViewBag.SAName;
    List<Product> LstProductId = ViewBag.LstProductId;
}

<h1>Export Product for : @SAName</h1>

<p>
    <a asp-action="Create">Create New Product</a> |
    @{
        var data1 =
        new Dictionary<string, string>
        {
                        {"SubAgentId", SAID},
                        {"SubAgentName",SAName}                        
    };
    }
<a asp-controller="Products" asp-action="ListExportProducts" asp-all-route-data="data1">Export List</a> |    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Brand
            </th>
            <th>
                Number
            </th>

            <th>
                Price
            </th>

            <th>
                Recieve Date
            </th>

            <th>
                Supply
            </th>
            <th>
                Stock
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var url = $"{item.Name}/{item.MainImage}";
            var recieveDate = item.RecieveDate.ToLocalTime();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.MainImage))
                    {
                        <img style="width:150px;height:150px;" src="~/images/People/images96.jpg" />

                    }
                    else
                    {
                        <img style="width:150px;height:150px;" src="~/images/Products/@url" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @recieveDate
                </td>
                <td>
                    @(item.User.FirstName + " " + item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Name)
                </td>

                <td>
                    @{
                        var data =
                        new Dictionary<string, string>
                        {
                        {"SubAgentId", SAID},
                        {"SubAgentName",SAName},
                        {"Id", item.Id.ToString()}
                };
                    }
                    <a asp-controller="Products" asp-action="ExportProductPage" asp-all-route-data="data">Export Product</a> |                  
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
