@model List<ExportProductPageViewModel>
@using ManageExport_V2.Models.Entity;
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string SAID = ViewBag.SAID;
    var SAName = ViewBag.SAName;    
}

<h1>Export List for : @SAName</h1>
<p>Export Date: @DateTime.Now</p>
<p>
    <a asp-controller="Products" asp-action="CreateExportBill">Export List Product</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>           
            <th>
                Number
            </th>

            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var url = $"{item.Product.Name}/{item.Product.MainImage}";            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Product.Id"> @Html.DisplayFor(modelItem => item.Product.Name)</a>
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.Product.MainImage))
                    {
                        <img style="width:150px;height:150px;" src="~/images/People/images96.jpg" />

                    }
                    else
                    {
                        <img style="width:150px;height:150px;" src="~/images/Products/@url" />
                    }
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ExportNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExportPrice)
                </td>

                <td>                   
                    <a asp-action="Edit" asp-route-id="@item.Product.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.Product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
